%div{:style => 'margin:4px 4px 4px 4px;font-weight:bold;'}
  Greetings!
%div{:style => 'margin:4px 4px 4px 4px;'}
  Our records show that you requested a password reset for the West Point Bridge Design Contest.
  We found #{pluralize @resets.size, 'team'} with this email address.
%div{:style => 'margin:4px 4px 4px 4px;'}
  Click a link below to log in to the team registration form where you can change your password.
  Please do this immediately!  The link in this message will expire in about one day.  Each
  link works only once.
%div{:style => 'margin:4px 4px 4px 4px;'}
  %table
    - @resets.each do |r|
      %tr
        %td{:style => 'margin:0px 8px 0px 8px;font-weight:bold;'} #{r.team.name}
        %td [#{link_to 'Log in', password_reset_key_url(:key => r.key, :host => ENV['HOST_NAME'] || '0.0.0.0:3000')}]
%div{:style => 'margin:4px 4px 4px 4px;'}
  Thanks,
  %span{:style => 'font-style:italic'}
    The Bridge Contest Judges
