%div{:style => 'font-weight:bold;'}Greetings #{@local_contest.poc_full_name},
%p
  Our records have you as the Point of Contact for the Engineering Encounters Local
  Bridge Design Contest '#{@local_contest.description}' with code '#{@local_contest.code}'.
%p
  We're happy to inform you that certificates have been produced for all participants
  in your contest who submitted at least one design.
%p
  Each team can obtain a certificate by logging in to the team home page, where there
  will be a new download link.
%p
  We appreciate your support of the Contest and hope you'll be back next year!
%p
  Best Regards,
  %br
  The Judges
