.para.small.subdued
  Choose a good password and type it twice in the spaces below:
  %br
  \-- Use from 8 to 16 characters that no one else will guess.
  %br
  \-- You will need this password later to check the standing of your design and enter new designs.
  %br
  \-- Keep it secret! Keep it safe!
  %br
  \--
  %strong But don't forget it.
  There is no way to recover a lost password.
%table
  %tr
    %td
      Team Password:
      != oops_on(team, [:password, :password_confirmation])
    %td
      = form.password_field :password, :size => 16, :onkeyup => "window.update_indicators()"
    %td{ :width => '100px' }
      .strength_meter{ :id => 'strength_meter' } &nbsp;
  %tr
    %td
      Type same Password again:
    %td
      = form.password_field :password_confirmation, :size => 16, :onkeyup => "window.update_indicators()"
    %td{ :width => '100px' }
      .match_indicator{ :id => 'match_indicator' } &nbsp;
