%table{ :width => '48%' }
  %tr
    %td{ :class => 'bold' } Age:
    %td member.age
  %tr
    %td{ :class => 'bold' } Grade:
    %td member.grade
  %tr
    %td{ :class => 'bold' } Street address:
    %td member.street
  %tr
    %td{ :class => 'bold' } State/Province:
    %td member.state
  %tr
    %td{ :class => 'bold' } Zip/Postal code:
    %td member.zip
  %tr
    %td{ :class => 'bold' } Country:
    %td member.country
  %tr
    %td{ :class => 'bold' } Phone:
    %td member.phone
  %tr
    %td{ :class => 'bold' } School:
    %td member.school
  %tr
    %td{ :class => 'bold' } School city:
    %td member.school_city
  - if member.sex
    %tr
      %td{ :class => 'bold' } Sex:
      %td member.sex
  - if member.hispanic
    %tr
      %td{ :class => 'bold' } Hispanic:
      %td member.hispanic
  - if member.race
    %tr
      %td{ :class => 'bold' } Race:
      %td member.race
