%div{:style => 'font-weight:bold;'}Greetings Team '#{@team.name}', #{@team.members.pluck(:first_name).to_sentence},
%p
  Congratulations!  Your team was listed on the
  %a{ :href => 'http://bridgecontest.org' }
    #{WPBDC::CONTEST_YEAR} Bridge Design Contest
  scoreboard today.  Be sure to check back often to see where you stand as the contest continues.
%p
  Good luck!
%p
  Best Regards,
  %br
  The Judges
