%div{:style => 'font-weight:bold;'}Greetings Team '#{@team.name}', #{@team.members.pluck(:first_name).to_sentence},
%p
  We're happy to inform you that your team has been qualified in the West Point Bridge Design
  Contest for #{WPBDC::CONTEST_YEAR}. This means that your team can be listed in official standings.
%p
  Good luck in the contest!
%p
  Best Regards,
  The Judges
