Greetings Team '#{@team.name}', #{@team.members.pluck(:first_name).to_sentence},

Congratulations!  You made the #{WPBDC::CONTEST_YEAR} Bridge Design Contest scoreboard today.  Be sure to check back often to see where you stand as the contest continues.

Good luck in the contest!


Best Regards,
The Judges
