Greetings Team '#{@team.name}', #{@team.members.pluck(:first_name).to_sentence},

We're happy to inform you that your team has been re-qualified in the West Point Bridge Design Contest for #{WPBDC::CONTEST_YEAR}. This means that your team can be listed in official standings.

Good luck in the contest!

Best Regards,
The Judges
