!!! Frameset
%html
  %head
    %title Engineering Encounters Bridge Design Contest Administrator
    = csrf_meta_tags
  %frameset{ :cols => '360,*' }
    = yield(:menu_frame)
    = yield(:data_frame)
