- if obj.errors.any?
  .box.highlight
    .para.subdued
      We couldn't process your answers due to one or more errors.
      Each item with an error is marked
      != oops('Reason for error appears here!') + '.'
      Click each "Oops!" icon for an explanation of what's
      wrong. Fix the problems, then press the Accept and Continue
      button again.
      %ul
        - obj.errors.full_messages.each do |msg|
          %li
            = msg
