%table{ :width => 750 }
  %tr
    %th Rank
    %th Team Name
    - if show_category_p
      %th Category
    %th Members
    %th School/Org
    %th City/State
    %th Submitted
  - if scoreboard[:unavailable]
    %tr
      %td.centered.bright.bold{ :colspan => show_category_p ? 7 : 6 }
        Sorry. Scores are not currently available.
  - elsif scoreboard[:rows].blank?
    %tr
      %td.centered.bright.bold{ :colspan => show_category_p ? 7 : 6 }
        Sorry. No teams have been ranked.
  - unless scoreboard[:rows].blank?
    - scoreboard[:rows].each_with_index do |row, i|
      = render :partial => 'shared/scoreboard_row', :locals => {:row => row, :i => i }