%h1
  - case scoreboard[:category]
    - when 'c'
      Standings for Combined Student and Open Competition
    - when 'm'
      Official standings for US/PR Middle School Competition
    - when 'h'
      Official standings for US/PR High School Competition
    - when 'i'
      Standings for Open Competition
    - when '2'
      Unofficial standings for Semi-Finals
  %br
  as of #{scoreboard[:created_at]}
.small.bold.bright
  - case scoreboard[:category]
    - when 'c'
      Provided for keen competitors' fun only!
    - when 'e'
      Qualifying round of the National Contest for prizes or recognition
    - when 'i'
      Standings for Open Competition
    - when '2'
      Pending review of contest officials, subject to change
= render :partial => 'shared/scoreboard_table',
    :locals => { :scoreboard => scoreboard,
    :show_category_p => (scoreboard[:category] == 'c') }
