$menu_labels: #00649C;
$stripe: #cfc;
$plain: #e4e4e4;

body.admin_body {
  height: 96%;
}

div.admin_main {
  width: 1200px;
  height: 100%;
}

div.admin_menu {
  float:left;
  width: 300px;
  height: 100%;
}

div.menu_label {
  color: $menu_labels;
}

div.menu_item {
  margin-bottom: 10px;
}

div.centerbox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.centeredbox {
  padding: 16px;
  margin: 20%;
  border: solid black 2px;
  text-align: left;
  display: inline-block;
}

iframe.admin_edit {
  float: right;
  width: 890px;
  height: 100%;
  border: solid;
  border-width: 1px;
}

tr.plain {
  background-color: $plain;
}

tr.stripe {
  background-color: $stripe;
}

table.review, table.index {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  margin: 4px 0px 4px 0px;
  width: 100%;
}

td.review {
  padding: 2px 4px 2px 4px;
  width: 49%;
}

/* Must match TablesHelper::STATUS_PAIRS */
td.none {
  @extend td.review;
  width: 8px;
  background-color: #777;
  color: #fff;
}

td.accepted {
  @extend td.none;
  background-color: #2a2;
}

td.rejected {
  @extend td.none;
  background-color: #a22;
}

td.hidden {
  @extend td.none;
  background-color: #181;
}
/* End must match TablesHelper::STATUS_PAIRS */

td.index {
  text-align: center;
  border: 1px solid black;
}

td.review_head {
  @extend td.review;
  background-color: #aaa;
}

a.review:link, a.review:visited {
  color: #000;
}

a.review:hover {
  color: #555;
}

a.review:active {
  color: #000;
}

a.index:link, a.index:visited {
  color: #fff;
}

a.index:hover {
  color: #555;
}

a.index:active {
  color: #fff;
}

hr {
  color: #000;
  background-color: #000;
  border-collapse: collapse;
  height:3px;
  width:100%;
}

topic {
  color: #00a;
  font-weight: bold;
}