$menu_labels: #00649C;
$stripe: #cfc;
$plain: #e4e4e4;
$unreviewed: #777;
$rejected: #a22;
$accepted: #2a2;
$hidden:#181;
$semifinal:#90d;
$head: #aaa;

body.admin_body {
  height: 96%;
}

div.admin_main {
  width: 1200px;
  height: 100%;
}

div.admin_menu {
  float:left;
  width: 300px;
  height: 100%;
}

div.menu_label {
  color: $menu_labels;
}

div.menu_item {
  margin-bottom: 10px;
}

span.ins, tr.ins {
  background-color: #ccffcc;
}

span.del, tr.del {
  text-decoration: line-through;
  background-color: #ffcccc;
}

div.notice {
  background-color: #ffcccc;
  width:100%;
  margin-top: 120px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
}

table.centered_box {
  border: 2px solid black;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

iframe.admin_edit {
  float: right;
  width: 890px;
  height: 100%;
  border: solid;
  border-width: 1px;
}

tr.plain {
  background-color: $plain;
}

tr.stripe {
  background-color: $stripe;
}

table.review, table.index {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 4px 0px 4px 0px;
  width: 100%;
}

td.review {
  padding: 2px 4px 2px 4px;
}

/* Must match TablesHelper::STATUS_PAIRS */
td.unreviewed {
  @extend td.review;
  width: 24px;
  background-color: $unreviewed;
  color: #fff;
  text-align: center;
}

span.questionable {
  color: $rejected
}

td.rejected {
  @extend td.unreviewed;
  background-color: $rejected;
}
td.accepted {
  @extend td.unreviewed;
  background-color: $accepted;
}
td.hidden {
  @extend td.unreviewed;
  background-color: $hidden;
}
td.semifinal {
  @extend td.unreviewed;
  background-color: $semifinal;
}
/* End must match TablesHelper::STATUS_PAIRS */

td.index {
  text-align: center;
  border: 1px solid black;
}

td.review_head {
  @extend td.review;
  background-color: $head;
}

td.active_review_head {
  @extend td.review;
  background-color: $accepted;
}

a.review:link, a.review:visited {
  color: #000;
}

a.review:hover {
  color: #555;
}

a.review:active {
  color: #000;
}

a.index:link, a.index:visited {
  color: #fff;
}

a.index:hover {
  color: #555;
}

a.index:active {
  color: #fff;
}

hr {
  color: #000;
  background-color: #000;
  border-collapse: collapse;
  height:1px;
  width:100%;
}

topic {
  color: #00a;
  font-weight: bold;
}

img.sketch {
  vertical-align: middle;
  border: 1px solid black;
  /* These should match DesignController::SKETCH_WIDTH and _HEIGHT */
  width: 90px;
  height: 60px;
}

table.analysis {
  @extend body;
  border-collapse: collapse;
  border: 1px solid black;
}

th.analysis_head {
  font-weight: bold;
  font-size: 8pt;
}
