%tr
  %td.bold.shrink COPPA status:
  %td{ :id => 'coppa_status' }
    To meet requirements of the Children's Online Privacy Protection Act,
    you will be asked for a parent or guardian's contact information and
    to certify that they permit you to participate.
