- case member.category
- when 'u'
  Student, currently enrolled in a US #{member.school_level_formatted}
  or legally home-schooled. Eligible for national recognition.
- when 'n'
  US citizen, grade 6 to 12 (or equivalent), currently
  attending a #{member.school_level_formatted} outside
  the US. Eligible for national recognition.
- when 'o'
  Open Competitor. Not eligible for national recognition.
