- case category
- when 'u'
  Student, age 13 through grade 12, currently enrolled in a U.S. school 
  or legally home-schooled. Eligible for national recognition.
- when 'n'
  U.S. citizen, age 13 through grade 12 (or equivalent), currently 
  attending a school outside the U.S. Eligible for national recognition.
- when 'o'
  Open Competitor. Not eligible for national recognition.
