.banner
  Home page for
  = @team.name
.para
  Your team status:
.para
  = form_for(@design, :method => :put, :url => home_path(@team.id)) do |f|
    Submit a design (West Point Bridge Designer 2012 only):
    %br
    = f.file_field :bridge
    %br
    = f.submit 'Submit your design', { :class => 'btn' }
