$dialog_bg: #efefb5;
$dialog_head_bg: #999944;
$box_border: #999944;
$btn_bg: lighten($box_border, 20%);
$hr_color: $box_border;
$font_size: 10pt;

body { 
    background-color: #fff; 
    font-family: arial, sans-serif;
    font-size: $font_size;
}
table, th, td {
    padding: 0px;
    border-spacing: 0px;
    border: 0px;
}
.normalfont {
    font-size: $font_size;
    color: #000000;
}
div.stdwidth {
    width: 720px;
}
div.loginwidth {
    display: inline-block;
}
div.dialog {
    background-color: $dialog_bg;
    margin: 6px auto 0 8px;
    border: 2px solid $box_border;
}
div.dialoghead {
    background-color: $dialog_head_bg;
    color: #fff;
    font-weight: bold;
    padding: 3px 6px; 
}
.membertitle {
    background-color: $dialog_head_bg;
    color: #fff;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 8px;
}
div.dialogbody {
    background-color: transparent;
    padding: 4px;
}
div.banner {
    font-size: 110%;
    font-weight: bold;
    background-color: $dialog_head_bg;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px; 
}
div.para {
    padding: 1px 0; 
    margin: 1px auto 0 0;
}
div.hi {
    color: #006699;
    font-weight: bold;
}
div.alignright {
    text-align: right;
}
div.box {
    padding: 6px 9px;
    margin: 2px 2px 0px 2px;
    border: 2px ridge $box_border;
}
hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: $hr_color; 
    color: $hr_color;
}
.btn {
    background-color: $btn_bg; 
    font-weight: bold;
    border-color: $box_border;
}
.bold {
    font-weight: bold;
}
.big {
    font-size: 110%;
    font-weight: bold;
}
.small {
    font-size: 90%;
}
.tiny {
    font-size: 75%
}
.subdued {
    color: #aa3333;
}
.shr {
    padding: 0 0 0 6px;
    vertical-align: bottom;
}
.highlight {
    background-color: lighten($dialog_bg, 10%)
}
.oops {
    border-width: 0;
    vertical-align: sub;
}
.inline {
    display: inline-block
}
.field_with_errors {
    display: inline-block
}
.fullwidth {
    width: 100%
}
.shrink {
    width: 1px;
    white-space: nowrap;
    vertical-align: top;
}
div.strength_meter {
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    margin: 2px 4px 2px 4px;
    border: 1px solid $box_border;
}
div.error {
    font-size: 110%;
    font-weight: bold;
    color: #f22;
}